li {
    display: inline;
}
element.style {
}
.light-grey, .hover-light-grey:hover,{
    color: #000;
    background-color: #f1f1f1;
}
(index):9
body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}
.css:30
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.css:29
h1 {
    font-size: 36px;
}
.css:2
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
Inherited from header.w3-container.w3-center.w3-padding-32
.css:130
.center {
    text-align: center!important;
}
Inherited from body.light-grey
.css:172
.light-grey, .hover-light-grey:hover,{
    color: #000!important;
    background-color: #f1f1f1!important;
}

.css:28
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
Inherited from html
.css:28
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.css:4
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
Pseudo ::before element
w3.css:2
*, *:before, *:after {
    box-sizing: inherit;
}
Pseudo ::after element
.css:2
*, *:before, *:after {
    box-sizing: inherit;
}
